---
import Tag from "@components/Tag.astro";
import { Image } from "astro:assets";

interface Props {
	title: string;
	thumbnail?: ImageMetadata | null;
	description: string;
	tags: string[];
	always_selected?: boolean;
}

const {
	title,
	thumbnail,
	description,
	tags,
  always_selected
} = Astro.props;
---

<div class="relative min-w-80 max-w-162 flex flex-wrap flex-col w-80 sm:w-[initial] sm:flex-row gap-2 select-none group overflow-hidden bg-zinc-800/50">
  <div class={
		`absolute w-full h-full bg-white opacity-0 pointer-events-none transition ${always_selected ? ("opacity-20") : ("group-hover:opacity-20")}`
	} />
	{
		thumbnail != null ? (
			<Image alt={`thumbnail of ${title}`} src={thumbnail} class="sm:pl-4 sm:max-w-1/2 py-2 aspect-video object-contain" />
		) : (
			<div class="sm:pl-4 sm:max-w-1/2 py-2 aspect-video flex items-center justify-center text-2xl">のいまげ</div>
		)
	}
	<div class="px-4 sm:w-5/12 sm:pt-4">
		<h1 class="text-3xl font-bold inline-block h-10 overflow-hidden">{title}</h1>
		<p class="text-sm block h-20 overflow-hidden overflow-ellipsis">{description}</p>
		<div class="h-12 mb-4 flex flex-wrap justify-start overflow-hidden *:mx-1">
			{
				tags && tags.map((tag: string) => <Tag tag={tag} />)
			}
		</div>
	</div>
</div>