---
import MyIcon from "@assets/myicon.png";
import OuterSite from "@assets/outer_site.svg";

import { Image } from "astro:assets";

const links = {
    "ホーム": "/",
    "works": "/works/",
    "blog(工事中)": "/blog/",
};
const outer_links = {
    "github": "https://github.com/KNSN92/",
};
---

<nav class="w-64 h-screen pl-8 py-24 flex flex-col items-left justify-start gap-4">
    <a href="/" class="w-fit h-fit">
        <Image src={MyIcon} alt="my icon" loading="eager" class="w-16 rounded-full" />
    </a>
    <ul class="*:mt-4 text-xl">
        {Object.entries(links).map(([name, link]) => (
            <a class="block hover:translate-x-2 hover:underline transition w-fit" href={link}>
                <li>- {name}</li>
            </a>
        ))}
        {Object.entries(outer_links).map(([name, link]) => (
            <a class="block hover:translate-x-2 hover:underline transition w-fit" href={link}>
                <li>- {name} <Image src={OuterSite} alt="outer site icon" loading="eager" class="inline w-6 relative -top-0.5" /></li>
            </a>
        ))}
    </ul>
    <div class="h-full" />
    <p class="text-xl">© 2025 KNSN92</p>
</nav>