---
import Footer from "@components/Footer.astro";
import Background from "../components/Background.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";

interface Props {
  pageTitle: string;
  pageType?: "article" | "blog";
}
const { pageTitle, pageType } = Astro.props;

const description =
  "KNSN92のポートフォリオです。自己紹介や使えるスキル、これまで作った作品などを載せています。ブログもありますが、ほぼ更新しないと思います多分。あと背景にこだわりましたヨ。";

import MyIcon from "@assets/myicon.png";
import OpenGraph from "@components/OpenGraph.astro";
import { Font } from "astro:assets";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={MyIcon.src} />
    <Font cssVariable="--font-nerdsymbols" preload />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <OpenGraph
      pageTitle={pageTitle}
      pageType={pageType}
      description={description}
    />
    <title>{pageTitle} | KNSN92's portfolio dayo</title>
  </head>
  <body
    class="bg-black text-white w-screen min-h-screen overflow-x-hidden overflow-y-scroll"
  >
    <Background />
    <div class="flex not-sm:flex-col w-screen min-h-screen">
      <NavBar />
      <main class="*:px-8 w-full h-fit grow sm:h-screen sm:overflow-scroll">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
